<%=  render 'layouts/header' %>
<!-- foreach through list add listener and display name and est. time -->
<div class="container col-sm-offset-3 col-sm-6">
	<h1 class="col-sm-offset-3 col-sm-9 time-header">My List</h1>
	<ul class="col-sm-offset-3 col-sm-9">
	<% @actions.each do |action| %>
	  <li class="h4"><%= action.action_name%></li>
	    <li>Notes: <%= action.notes%></li>
	    <li>Time: <%= action.time_estimated%></li>
	<% end %>
	</ul>
</div>
