<%=  render 'layouts/header' %>
<!-- foreach through list add listener and display name and est. time -->
<ul class="container">
<% @all_sorted_actions.each do |action| %>
  <li class="h3"><%= action.action_name%></li>
    <li><%= action.notes%></li>
    <li><%= action.time_estimated%></li>
<% end %>
</ul>

