<%=  render 'layouts/header' %>

<div class="container-fluid">
  <div class="row">
    <div class='col-sm-offset-3 col-sm-6'>
      <h1>New Task</h1>

      <!-- user_registration POST   /users(.:format)               devise/registrations#create -->

      <form class="form-horizontal" action= "/actions" method= "post" id="new-task-form">

        <div class="form-group text-left">
          <label class="col-sm-2 control-label">Task Name</label>
          <div class="col-sm-10">
            <input type="text" id="action-name" name= "action_name" class="form-control"  placeholder="Name">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Notes</label>
          <div class="col-sm-10">
            <input type="text" id="action-notes" name="notes" class="form-control"  placeholder="Notes">
          </div>
        </div>


        <div class="form-group">
          <label class=" col-sm-2 control-label">Time</label>
          <div class=" col-sm-offset-1 col-sm-9 ">
            <span type="radio" id="btn-0" name="time_estimated" class="btn btn-default btn-sm ">5</span>
            <span type="radio" id="btn-1" name="time_estimated" class="btn btn-default btn-sm">10</span>
            <span type="radio" id="btn-2" name="time_estimated" class="btn btn-default btn-sm">20</span>
            <span type="radio" id="btn-3" name="time_estimated" class="btn btn-default btn-sm">30</span>
            <span type="radio" id="btn-4" name="time_estimated" class="btn btn-default btn-sm">40</span>
            <span type="radio" id="btn-5" name="time_estimated" class="btn btn-default btn-sm">50</span>
            <span type="radio" id="btn-6" name="time_estimated" class="btn btn-default btn-sm">60</span>
            <span type="radio" id="btn-7" name="time_estimated" class="btn btn-default btn-sm">Don't Know</span>
          </div>
      </div>

      <div class=" form-group">
          <div class="col-md-offset-3 col-md-9">
              <input type="checkbox" name="priority" id="priority-check">
              <label for="priority-check">Priority</label>
          </div> 
      </div>

        <script type="text/javascript">
          taskTimeSelector();
        </script>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
              <button type="button" class="btn btn-default" id="add-new-task">Add Task</button>
              <script charset="utf-8">
                addTaskListener();
              </script>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container" id= "task-list-div"></div>
