<%=  render 'layouts/header' %>

<div class="container">
	<div class="jumbotron col-md-offset-3 col-md-6">
		<h2 class="col-md-offset-3 col-md-6"><%= @actions.action_name %></h2>
			<div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6" id="stopwatch">00:00:00</div>	
		<div class="col-md-offset-3 col-md-6">
				<button id="start" class="btn btn-default">Start</button>
				<button id="stop" class="btn btn-default">Pause</button>
	</div>
</div>	