// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#prod-name{
	font-size: 10em;
}

#stopwatch{
	font-size: 3em;
	margin-bottom: 5px;
}

.modal-body {
	overflow: auto;
}

.alert {
	font-style: helvetica;
	font-weight: 3em;
	color: red;
}





