// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#prod-name{
    font-size: 10em;
    color:  #070173;
    font-family: 'Futura';
}

.modal-title{
	color: #070173;
	font-family:'Futura';
}

#stopwatch{
    font-size: 3em;
    margin-bottom: 5px;
}

.modal-body {
    overflow: auto;
}

.alert {
    font-style: helvetica;
    font-weight: 3em;
    color: red;
}

// home/index.html.erb
.header-current-time {
  font-family: "futura";
  font-style: 30px;
}


.jumbotron{
	background: white;
}

.new-task-time, .new-task-name{
    font-size: 1.3em;
    margin-top: 20px;
}

.access{
	background: #070173;
	color: white;
	margin-top: 20px;
	border: 0px solid #070173;

	&:hover{
		background: white;
		color: #070173;
		margin-top: 20px;
		border: 1px solid #070173;
	}
}

.submission{
	color: #070173;
	background: white;
	border: 1px solid #070173;
	margin-top: 10px;
		&:hover{
			background: white;
			border: 1px solid #070173;
		}
}

#brand-name{
	font-size: 1.5em;
	color:white;
}

#main-nav{
	background-color: #070173;
	>ul{
		>li{
			>a {
			color:white;
				&:focus{
					background-color: #070173;
				}
			}
		}
	}
}

.navbar-default
.navbar-nav .open
.dropdown-menu {
	> li {
	  font-size: 1.01em;
	  }
}

#menu-button, #add-task-button{
	font-size: 1.05em;
}

#menu-list{
	>ul{
		>li{
			>a{
				&:hover{
					background-color: #96f2fc;
				}
			}
		}
	}
}

input[type=text], input[type=password],input[type=email]{
	margin-bottom: 5px;
	outline: none;
}

ul{
	>li{
		list-style: none;
	}
}

.sub-sentence{
	font-family: 'Lato';
	font-size: 30px;
	color: #9B9B9B;
}

.productively{
	font-family: 'Lato';
	font-size: 30px;
	color: #0097FA;
}

.show {
	display: block;
}
.clicker-div{
  display: none;
}
.action-div{
	cursor: pointer;
	margin-bottom: 10px;
}

.action-div-add {
	cursor: pointer;
	margin-bottom: 10px;
  padding: 1%;
  >h3 {
    font-size: 1.5em;
    display: inline;
  }
  >p {
    display: inline;
    float: right;
  }
}
//
.doButton {
  margin-bottom: 2%;
  font-family: 'Lato', sans-serif;
  color: #070173;
}

// color divs on current_list.html.erb
.priority {
  background-color: #E0336A;
  font-family: 'Lato', sans-serif;
  color: white;
}
.sixty {
  background-color: #2B015C;
  font-family: 'Lato', sans-serif;
  color: white;
}
.fifty {
  background-color: #070173;
  font-family: 'Lato', sans-serif;
  color: white;
}
.forty {
  background-color: #0205DA;
  font-family: 'Lato', sans-serif;
  color: white;
}
.thirty {
  background-color: #2366D0;
  font-family: 'Lato', sans-serif;
  color: white;
}
.twenty {
  background-color: #00B4FF;
  font-family: 'Lato', sans-serif;
  color: #070173;
}
.ten {
  background-color: #00DDFF;
  font-family: 'Lato', sans-serif;
  color: #070173;
}
.five {
  background-color: #96F2FC;
  font-family: 'Lato', sans-serif;
  color: #070173;
}


// actions/new.html.erb
.whisper {
  color: #9B9B9B;
  font-style: italic;
}

.addTaskButton {
  font-family: 'Lato', sans-serif;
  color: #070173;
  background: white;
  border: 1px solid #070173;
  	&:hover{
  		background: #070173;
  		color: white;
  		border: 1px solid white;

  	}
}

#btn-0{
	background-color: #96f2fc;
	color: white;
	outline: none;
}
#btn-1{
	background-color: #00ddff;
	color: white;
	outline: none;
}
#btn-2{
	background-color: #00b4ff;
	color: white;
	outline: none;
}
#btn-3{
	background-color: #2366d0;
	color: white;
	outline: none;
}
#btn-4{
	background-color: #0205da;
	color: white;
	outline: none;
}
#btn-5{
	background-color: #070173;
	color: white;
	outline: none;
}
#btn-6{
	background-color: #2b015c;
	color: white;
	outline: none;
}
#btn-7{
	background-color: #E0336A;
	color: white;
	outline: none;
}
