// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#prod-name{
	font-size: 10em;
}

#stopwatch{
	font-size: 3em;
	margin-bottom: 5px;
}

.modal-body {
	overflow: auto;
}

.alert {
	font-style: helvetica;
	font-weight: 3em;
	color: red;
}

input[type=radio]{
	display:none;
	 text-align: center;
}

input[type=radio] + label{
	display: inline-block;
	padding: 4px 12px;
	margin-left: auto;
	width: 40px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
}

input[type=radio]:checked + label{
	background-color: #e6e6e6;
	border-color: #adadad;
}




